<?xml version="1.0"?>
<config>
    <modules>
        <Getsquare_AdminOrderLog>
            <version>0.1.0</version>
        </Getsquare_AdminOrderLog>
    </modules>
    <global>
        <helpers>
            <getsquare_admin_order_log>
                <class>Getsquare_AdminOrderLog_Helper</class>
            </getsquare_admin_order_log>
        </helpers>
        <models>
            <admin_order_log>
                <class>Getsquare_AdminOrderLog_Model</class>
                <resourceModel>admin_order_log_resource</resourceModel>
            </admin_order_log>
            <admin_order_log_resource>
                <class>Getsquare_AdminOrderLog_Model_Resource</class>
                <entities>
                    <entry>
                        <table>getsquare_admin_order_log</table>
                    </entry>
                </entities>
            </admin_order_log_resource>
        </models>
        <resources>
            <getsquare_admin_order_log_setup>
                <setup>
                    <module>Getsquare_AdminOrderLog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </getsquare_admin_order_log_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <sales_order_place_after>
                <observers>
                    <admin_order_log_after_order_save>
                        <type>model</type>
                        <class>Getsquare_AdminOrderLog_Model_Observer</class>
                        <method>addUserName</method>
                    </admin_order_log_after_order_save>
                </observers>
            </sales_order_place_after>
            <sales_order_grid_collection_load_before>
                <observers>
                    <add_admin_user_name_to_grid_collection>
                        <type>model</type>
                        <class>Getsquare_AdminOrderLog_Model_Observer</class>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </add_admin_user_name_to_grid_collection>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>
        <layout>
            <updates>
                <getsquare_admin_order_log>
                    <file>getsquare_admin_order_log.xml</file>
                </getsquare_admin_order_log>
            </updates>
        </layout>
    </adminhtml>
</config>