<?xml version="1.0"?>
<config>
    <modules>
        <Getsquare_AdminOrderName>
            <version>0.1.0</version>
        </Getsquare_AdminOrderName>
    </modules>
    <global>
        <blocks>
            <getsquare_adminordername>
                <class>Getsquare_AdminOrderName_Block</class>
            </getsquare_adminordername>
        </blocks>
        <helpers>
            <getsquare_adminordername>
                <class>Getsquare_AdminOrderName_Helper</class>
            </getsquare_adminordername>
        </helpers>
        <resources>
            <getsquare_adminordername_setup>
                <setup>
                    <module>Getsquare_AdminOrderName</module>
                    <class>Mage_Sales_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </getsquare_adminordername_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <getsquare_adminordername>
                        <type>singleton</type>
                        <class>Getsquare_AdminOrderName_Model_Observer</class>
                        <method>beforeBlockToHtml</method>
                    </getsquare_adminordername>
                </observers>
            </core_block_abstract_to_html_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <getsquare_adminordername>
                        <class>Getsquare_AdminOrderName_Model_Observer</class>
                        <method>beforeCollectionLoad</method>
                    </getsquare_adminordername>
                </observers>
            </eav_collection_abstract_load_before>
            <sales_order_place_before>
                <observers>
                    <add_admin_user_name_to_order>
                        <type>model</type>
                        <class>Getsquare_AdminOrderName_Model_Observer</class>
                        <method>addUserName</method>
                    </add_admin_user_name_to_order>
                </observers>
            </sales_order_place_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <add_admin_user_name_to_grid_collection>
                        <type>model</type>
                        <class>Getsquare_AdminOrderName_Model_Observer</class>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </add_admin_user_name_to_grid_collection>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>
        <layout>
            <updates>
                <getsquare_adminordername>
                    <file>getsquare_adminordername.xml</file>
                </getsquare_adminordername>
            </updates>
        </layout>
    </adminhtml>
</config>